## .NET / Visual Studio
bin/
obj/
out/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]uild/
[Bb]in/
[Oo]bj/

## NuGet
*.nupkg
*.snupkg
.nuget/

## Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

## Rider / VS Code
.idea/
.vscode/

## OS
.DS_Store
Thumbs.db
